@charset "UTF-8";
a {
    text-decoration: none;
}
body {
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
    line-height: 1.7;
    color: #432;
}
#home{
    position: relative;
    background: #FFFFFF;
    width: 1200px;
    height: 1717px;
    margin: 0 auto;
}
main {
    margin-left: 80px;
}

h2,h4,h5 {
    margin-left: 100px;
}

h4,h5{
    margin-left: 140px;
}
table {
    width: 700px;
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid rgba(68, 51, 34, .3);
    width: 750px;
}

.box {
    border-bottom: 1px solid rgba(68, 51, 34, .3);
}

.koction-grade img {
    margin: 18px 0px;
}
#vip {
    margin-left: 107px;
}
#gold {
    margin-left: 31px;
}
#silver {
    margin-left: 29px;
}
#normal {
    margin-left: 151px;
}

table {
    margin-top: 30px;
    border-top: 1px solid #111 !important;
    border-collapse: collapse;
}

table th{
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

table td {
    border-bottom: 1px solid #ddd;
}

/*마이페이지 footer*/

footer {
    border-top: 1px solid #432;
    display: block;
    /* position: relative; */
    /* transform: translateY(100%); */
    /* position: fixed; */
    bottom: 0; 
    width: 100%; /* 가로 사이즈를 브라우저에 가득 채움 */
}

.footer-div {
    height: 90px;
}

.footer1 {
    display: inline-block;
    margin-left: 100px;
}


.footer2 {
    display: inline-block;
    height: 90px;
}

.footer3 {
    display: inline-block;
}

footer p {
    margin-left: 100px;
}

footer span {
    margin-right: 100px;
    float: right;
}

h2.call-number {
    margin: 0;
}

.footer2 strong {
    font-size: 17px;
    margin-bottom: 20px;
}
.footer3 strong {
    font-size: 17px;
}
