@charset "UTF-8";
a {
    text-decoration: none;
}
body {
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
    line-height: 1.9;
    color: #432;
}
.justify-content-end {
    /* float: right; */
}
#home{
    position: relative;
    background: #FFFFFF;
    /* width: 1200px; */
    height: 1717px;
    margin: 0 auto;
}
main {
    width: 1200px;
    margin-left: 80px;
}
main div {
    margin-bottom: 50px;
    /* line-height: 1.5; */
}
.box {
    width: 1100px;
    margin-top: 100px;
}

h1 {
    margin-left: 50px;
}

h2,h3,h4,h5, h6 {
    margin-left: 100px;
}

h4,h5{
    margin-left: 140px;
}
table {
    width: 700px;
    margin-left: 170px;
    margin-right: 120px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    border-bottom: 1px solid rgba(68, 51, 34, .3);
    width: 780px;
}
h3 {
    border-bottom: 1px solid rgba(68, 51, 34, .3);
    width: 800px;
}

.box {
    border-bottom: 2px solid rgba(68, 51, 34, .3);
}

/* .koction-grade img {
    margin: 0px 0px;
} */
#vip {
    margin-left: 130px;
}
#gold {
    margin-left: 31px;
}
#silver {
    margin-left: 29px;
}
#normal {
    margin-left: 179px;
}

table {
    margin-top: 30px;
    border-top: 1px solid #111 !important;
    border-collapse: collapse;
}

table th{
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

table td {
    border-bottom: 1px solid #ddd;
}

/*마이페이지 footer*/

